<h5>Login</h5>
<form action="/login" method="POST">
  <input type="text" name="email" placeholder="Email:">
  <input type="password" name="password" placeholder="Password:">
  <input class="waves-effect light-blue accent-3 btn" type="submit" value="Log In">
</form>
