
      <div class="centered-div">
        <br>
        <br>
        <div class="row">
          <div class="col s7 push-s5"><span >
          <h3>Welcome! </h3>
            <p>Have a look at our shelters and their current animals up for adoption. We are known for listing shelters with animals from all walks of life.</p>
            <a href="/animal" class="light-blue lighten-2 btn">Take a Look!</a>
            </span></div>
            <br>
            <br>
            
         
          <div class="col s5 pull-s7"><span class="flow-text">
          <h5> Are you a Shelter?</h5>
          <br>
          <a href="/signup" class="light-blue lighten-2 btn">Sign Up</a> or <a href="/login" class="light-blue lighten-2 btn">Login</a></span></div>
        </div>
         <br>
         <br> 
        
      </div>

