<div class="container">
  <div class="col-md-8 col-md-offset-2">

    <div class="content">
    <br>
      <h3>Welcome to the Pet Connect! </h3>
      <p>Have a look at our shelters and their current animals up for adoption. We are known for listing shelters with animals from all walks of life.</p>
     <br>
     <a href="/signup" class="waves-effect light-blue lighten-2 btn">Sign Up</a>
     <br>
     <br>
    </div>

   



  </div>
</div>
